    html {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp9TUCSTp5pOsD8YL-X1QyYYvT82MwXPgntQgFKGNB07UlfYcjoSaea1HRDKp7nXuR37U&usqp=CAU);
    }
    
    header {
        font-size: 200%;
        color: blue;
    }
    
    nav {
        background-color: rgba(0, 0, 0, 0.61);
        text-align: center;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: auto;
        padding-right: auto;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav a {
        padding-left: 50px;
        padding-right: 50px;
        color: rgb(250, 250, 250);
        text-decoration: none;
    }
    
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }